---
title: Welcome to Stellar Techies
is_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 0
editable_elements:
  main/welcome_message: '<p style="color: blue; font-size: 18px;">We code sites that
    are out of this world!</p>'
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | escape }} |  {{ site.name | escape }}</title>
	{{ 'styles.css' | stylesheet_tag }}
	{% if page.meta_keywords %}
		 <meta name="keywords" value="{{ page.meta_keywords | escape }}" />
	{% else %}
		 <meta name="keywords" value="{{ site.meta_keywords | escape }}" />
	{% endif %}
	
	{% if page.meta_description %}
		 <meta name="description" value="{{ page.meta_description | escape }}" />
	{% else %}
		 <meta name="description" value="{{ site.meta_description | escape }}" />
	{% endif %}
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
	<div id="logo">STELLAR TECHIES</div>	
	{% include 'navigation' %}
	<div id="content">
		<h1>{{ page.title | escape }}</h1>
		{% block 'main' %}
		<p>
			{% editable_text "welcome_message" %}
				We code sites that are out of this world!
			{% endeditable_text %}
		</p>
		{% endblock %}
	</div>	
	{% include 'footer' %}
	
	<!--Javascript-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	
	{{ 'contact.js' | javascript_tag }}
	
	<!-- end Javascript -->
  </body>
</html>